<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Новости со всего мира{%endblock%}</title>
<!-- CSS only -->
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
    {%block foo%}
    {%include 'navigate.html' %}
    {%endblock%}
<body>

<div>
    <div class="contaner mt-3">
        <div class="row">
            <div class="col-md-3">


                {% block sidebar%}
                {% include 'sidebar.html'%}
                {% endblock %}

        </div>
       <div class="col-md-9">
                 {% block content%}{% endblock %}
        </div>
        </div>
    </div>

</div>


{%for item in news%}
<div class="card text-center">
  <div class="card-header">
    Категория: <a href="{{item.category.get_absolute_url}}"> {{item.category}}</a>
  </div>
  <div class="card-body" w-25 p-3>
    <div class="media">
      {% if item.photo %}
      <img src="{{item.photo.url}}" alt="" width="150" class="mr-3">
      {% endif%}
        <div class="media-body"></div>
    </div class>
    <h5 class ="card-title {% cycle 'text-danger' 'text-success'%}">{{item.title}}</h5>
    <p class="card-text">{{item.content}}</p>
    <a href="#" class="btn btn-primary">Далее</a>
  </div>
  <div class="card-footer text-muted">
    {{item.created_at|date:'Y-m-d H:i'}}
  </div>
</div>
<hr>
{%endfor%}


</body>
</html>